@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

.header {
  max-width: 800px;
  margin: 0 auto;
  height: 100px;
  background-color: #cccccc;
}

.header__wrapper {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 0 10px;
}

.header__square {
  width: 70px;
  height: 70px;
  background-color: white;
}

.header__text-wrapper {
  margin-left: 12px;
}

.header__title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: #7a7a7a;
}

@media (max-width: 320px) {
  .header__title {
    font-size: 24px;
  }
}

.header__subtitle {
  margin: 0;
  color: #7a7a7a;
}

.main {
  max-width: 800px;
  height: 500px;
  margin: 0 auto;
}

.navigation {
  height: 30px;
  background-color: #383838;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.navigation__item {
  list-style-type: none;
  text-align: center;
}

.navigation__link {
  display: inline-block;
  height: 30px;
  width: 105px;
  line-height: 30px;
  color: white;
  text-decoration: none;
}

@media (max-width: 320px) {
  .navigation__link {
    font-size: 12px;
    width: 80px;
  }
}

.navigation__link-active {
  background-color: white;
  color: #383838;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.aside-menu {
  display: block;
  height: 300px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
  background-color: #cccccc;
}

@media (max-width: 375px) {
  .aside-menu {
    display: none;
  }
}

.aside-menu__navigation {
  margin: 12px 12px 0 12px;
}

.aside-menu__list {
  background-color: #383838;
  height: 212px;
  max-width: 205px;
  padding: 0;
  margin: 0;
}

.aside-menu__item {
  height: 35px;
  max-width: 200px;
  text-align: center;
  list-style-type: none;
}

.aside-menu__item-active {
  max-width: 205px;
  background-color: white;
}

.aside-menu__link {
  display: inline-block;
  line-height: 35px;
  color: white;
  text-decoration: none;
}

.aside-menu__link-active {
  color: #383838;
  text-decoration: underline;
}

.burger-wrapper {
  display: none;
  position: relative;
}

@media (max-width: 375px) {
  .burger-wrapper {
    display: block;
  }
}

.burger-wrapper #check-menu {
  display: none;
}

.burger-wrapper #check-menu:checked ~ .nav-burger {
  max-height: 500px;
}

.burger-wrapper #check-menu:checked ~ .first {
  display: none;
}

.burger-wrapper #check-menu:checked ~ .second {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-wrapper #check-menu:checked ~ .third {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger-wrapper #check-menu:checked ~ .fourth {
  display: none;
}

.toggle-burger {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 35px;
  height: 35px;
  opacity: 0;
  z-index: 2;
}

.burger-line {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 2px;
  width: 30px;
  background-color: #383838;
}

.second,
.third {
  top: 25px;
  left: 10px;
}

.fourth {
  top: 38px;
}

.nav-burger {
  display: block;
  position: absolute;
  max-height: 0;
  top: 50px;
  left: 0px;
  width: 210px;
  height: 240px;
  overflow: hidden;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
  background-color: #cccccc;
}

.burger-menu__list {
  padding: 0;
  margin-left: 5px;
  width: 200px;
  height: 210px;
  background-color: #383838;
}

.burger-menu__item {
  height: 35px;
  text-align: center;
}

.burger-menu__link {
  display: block;
  line-height: 35px;
  color: white;
  text-decoration: none;
  width: 200px;
}

.burger-menu__item-active {
  background-color: white;
}

.burger-menu__link-active {
  color: #383838;
  text-decoration: underline;
}

.info-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 72%;
          flex: 0 1 72%;
}

@media (max-width: 375px) {
  .info-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.info-content__wrapper {
  margin: 0px 10px;
}

.main-info-container__title {
  font-weight: 400;
  margin: 0 0 16px 0;
}

@media (max-width: 375px) {
  .main-info-container__title {
    margin: 10px 0 5px 45px;
  }
}

.main-info-container__text {
  font-size: 12px;
}

.main-info-list__title {
  font-weight: 400;
}

.footer {
  height: 25px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #383838;
}
